body {
    height: 100%;
    width: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #354a3f;
}
.spanish {
    width: 100%;
    height: 100%;
}
.header {
    background-color: #42f590;
    width: 100%;
    min-height: 200px;
    height: 20%;
}
.header p {
    background-color: #42f590;
}
.main {

    color: #f7fffb;
    width: 100%;
    height: 100vh;
}
.abouttext {
    margin-left: 25%;
    font-family: sans-serif;
    font-size: 20px;
}
.about1 {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
}
.bigtext {
    font-size: 40px;
    font-family: sans-serif;
}
.nametext {
    font-size: 90px;
    font-family: sans-serif;
}
.subname {
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
}
.marginleft {
    margin-left: 15%;
}
.paddingtop {
    padding-top: 1.6%;
}
.aboutme {
    padding-top: 5%;
}
hr {
    margin-top: 4%;
}
.about2 {
    max-width: 70%;
}
.aboutspace {
    padding-top: 30px;
}
.link {
    color: white;
}
.biginfo {
    font-size: 2rem;
}
.footspacer {
    height: 100px;
}
.change {
    position: fixed;
    background-color: #f7fffb;
    font-family: sans-serif;
    font-size: 20px;
    border: 3px gray solid;
    font-weight: 1000;
    top: 1%;
    left: 1%;
}

.english {
    display: none;
}
#changelanguage2 {
    display: none;
}